<!DOCTYPE html>
<html ng-app="rdDesarrolloHidrocalido" lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    </head>
    <body>
    <div class="container">
     <br>
         <div class="row">
            <div class="col-md-5 col-md-offset-3">
              <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Desarrollo Hidrocálido - RadioButton con Angular JS</h3>
                </div>
                  <div class="panel-body" ng-controller="controllerForm">
                    <form>
	                  <div ng-repeat="lenguaj in Lenguajes">
							<div class="radio">
							  <label for="{{lenguaj.descripcion}}">
							    <input type="radio" id="{{lenguaj.descripcion}}" name="lenguajesProgramacion" ng-click="obtenerValue(lenguaj.descripcion)">
							      {{lenguaj.descripcion}}
							  </label>
							</div>
	                  </div>
                    </form>
                  </div>
              </div> <!-- Fin del panel panel-default -->
            </div>
          </div> <!-- Fin del Row --> 
     </div> <!-- Fin del Container -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="controller/app.js"></script>
    </body>
</html>